.task {
    padding: 0.75em;
    border: none;
    border-radius: 0.3em;
    background-color: var(--primary-light);
    margin-bottom: 0.5em;
    text-align: start;
    cursor: grab;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

#dark .task {
    background-color: var(--primary-dark);
}

.task:active {
    cursor: grabbing;
}

.buttons {
    display: flex;
    gap: 0.3em;
}

.delete-button,
.edit-button {
    cursor: pointer;
    color: var(--text-light);
}

#dark .delete-button, #dark .edit-button {
    color: var(--text-dark);
}