.task-container {
    padding: 1px 10px;
    border: none;
    border-radius: 10px;
    background-color: #e6e6e6;
    margin-bottom: 3px;
    text-align: start;
    cursor: grab;
    flex-grow: 0;
}

.task-container:active {
    cursor: grabbing;
}
