.column-container {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    padding: 1em;
}

.column-container>div {
    flex: 1;
}

@media (max-width: 700px) {
    .column-container {
        flex-direction: column;
    }
}