.column {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    gap: 1em;
    background-color: var(--primary-light);
    border-radius: 0.3em;
}

#dark .column-header {
    background-color: var(--primary-dark);
}

.title {
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.add-task-button {
    border: none;
    cursor: pointer;
    color: var(--grey);
    background: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtered-tasks-container {
    display: flex;
    flex-direction: column;
    border-radius: 0.3em;
    padding: 0.3em;
    min-height: 60vh;
    background-color: var(--secondary-light);
}

#dark .filtered-tasks-container {
    background-color: var(--secondary-dark);
}

.filtered-tasks-container.dragging-over {
    background-color: #efefef;
}

#dark .filtered-tasks-container.dragging-over {
    background-color: #16161c;
}

@media (max-width: 700px) {
    .column {
        padding: 0 0.3em;
    }

    .filtered-tasks-container {
        padding: 0.3em;
        min-height: 80px;
        background-color: var(--secondary-light);
    }

    #dark .filtered-tasks-container {
        background-color: var(--secondary-dark);
    }
}