.new-task-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    border-radius: 0.3em;
    background-color: var(--primary-light);
}

#dark .new-task-container {
    background-color: var(--primary-dark);
}

.new-task-header {
    display: flex;
    justify-content: space-between;
}

.body textarea {
    width: 100%;
    margin-bottom: 1em;
    height: 5em;
    border-radius: 0.3em;
    border: none;
    resize: none;
    background-color: var(--secondary-light);
    color: var(--text-light);
}

#dark .body textarea {
    background-color: var(--secondary-dark);
    color: var(--text-dark);
}

.new-task-footer {
    display: flex;
    gap: 1em;
    justify-content: center;
}

.new-task-footer button {
    padding: 0.5em;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    flex: 1;
    color: var(--primary-light);
}

#dark .new-task-footer button {
    color: var(--primary-dark);
}

#add {
    background-color: var(--blue);
}

#cancel {
    background-color: var(--grey);
}

#cancel:hover {
    cursor: pointer;
}