.new-task-container {
    border-radius: 0.3em;
    background-color: #FEFFFE;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.new-task-header {
    display: flex;
    justify-content: space-between;
}

.body textarea {
    width: 100%;
    margin-bottom: 10px;
    height: 5em;
    border-radius: 0.3em;
    border: 1px solid #ccc;
    resize: none;
}

.new-task-footer {
    display: flex;
    gap: 1em;
    justify-content: center;
}

.new-task-footer button {
    padding: 0.5em;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    flex: 1;
}

#add {
    background-color: #2E7CFE;
    color: #fff;
}

#cancel {
    background-color: #efefef;
    border: none;
}

#cancel:hover {
    cursor: pointer;
}